body{
    background: linear-gradient(#4D02B5,#B00C98,  #710A93);
    width: 90%;
    height: 50%; 
}

html{
    font-family: sans-serif;
    color: white;

}

h1{
    text-indent: 1.8rem;
    color: white;
    display: inline-block;
    padding: 1em;
}

h2{
    text-indent: 1.4rem;
    color: white;
    display: inline-block;
}

h3{
    text-indent: 1.2rem;
    color: white;
}

p{ 
    text-indent: 1em;
    color: white;  
}

a{
    color: orange; 
    font-weight: bold;
}

.intro{
    text-indent: right;
    line-height: 1.5;   
    height: 550px;
}

abbr{
    font-family: small-caps; 
}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin:auto; 
}

#design-archives{
    display: none; 
}

header{
    background-color: black; 
    color: white; 

}

li{
    list-style-type: none;
    padding-bottom: 1em;
    text-align: center;
    border-top: 2px solid  pink;
    
    
}

.design-selection, li:last-child{

    border-bottom:  2px solid pink;

}


footer{
    margin: 4%; 
    display: flex; 
   
}

footer a {
    margin: 5%;
    border: 2px solid; 
    padding: 0.5em;  
    font-size: 30px; 
    text-align: center;
    line-height: 1.5px;
    flex-wrap: wrap-reverse;


}

.page-wrapper{
    position: relative; 
}

.explanation{
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
    padding-top: 8.5%;
    padding-bottom: 8.5%;

}

.design-selection{
    position: absolute; 
    top: 545px; 
    left: 70%; 
    padding-right: 2%; 
    padding-left: 2%; 

}

 a:link:hover{
    color: yellow; 
    background-color: green;
    font-weight: none;
}

.main-supporting .explanation :nth-child(2)::first-letter{
    font-size: 300%;
    text-align: left;
    font-family: serif;
}

.benefits p{
    text-align: left;
    width: 70%;
    
}

.benefits{
    display: flex; 
    border-bottom: 2px #710A93 solid ;
    border-top: 2px #710A93;
    border-left: 2px #710A93 solid;
    border-right: 2px #710A93 solid;
    margin-bottom: -1px;
    
}

.benefits h3{
    text-align: right;
    justify-content: center;
    align-items: center;
    width: 30%;
     
    
}

.participation h3 {
    width:50%;
    flex-grow: 1;
    justify-content: center;
    align-items: center; 
    
    
}

.participation{
    display: flex; 
    flex-flow: row wrap; 
    border-bottom: 2px #710A93 solid;
    border-top: 2px #710A93 solid;
    border-left: 2px #710A93 solid;
    border-right: 2px #710A93 solid;                                
    p{
        width: 50%;
        flex-grow: 1;
    }
    
}